<style>
.centered {
    position: absolute;
    top: 15%;
    left: 62%;
    transform: translate(-50%, -50%);
}
#lighthouseimg {
        filter:contrast(110%);
        filter:brightness(90%);
}
</style>


<div  style="width:100%">
	
		<img src="/img/lighthouse2.jpg" id="lighthouseimg" class="img-responsive">
		 <div class="centered">
		 	
		 	<h2 style="color: white">Volunteer Discovery Platform</h2>
		 	<h4 style="color:#DFDFDF"> ECE496 Capstone Project 2018 </h4>
		 </div>


<div class="container">

<br>
<br>

		<div class="row">
		
			<h4>
				<h3> What is it? </h3>
				A free to use platform that connects you to oppurtunities that suit you best.
			</h4>


			<br>

			<h4>
				<h3>Why volunteer?</h3>
				Volunteering, and helping others is one of the primary indicators of happiness [1], and can help fight depression [2] which is becoming more prominent in society.	
				
				<br>	
						
			<img src="/img/depressionchart.png"  class="img-responsive" style="max-height: 290px;margin: auto">

			</h4>


			<h4>
				<h3>The easiest and fastest way to volunteer</h3>
				Uses machine learning algorithms and techniques such as K-NN, Logistic Regression, and Collaborative Filtering to help suggest the best oppurtunites for you!	
				<br>	
						
			<img src="/img/subscriber_model.png"  class="img-responsive" style="max-height: 250px;width:75%;margin: auto">

			</h4>
			<br>

  <form  action="/users/register"  method="get">
  <input type="submit" class="btn btn-success"  style="width:100%" value="Sign me up!"/>
  </form>


		</div>
</div>

</div>